DATABASE_URL='postgresql://user:password@host/dbname?sslmode=require'
BASE_URL_DB='postgresql://user:password@host/dbname?sslmode=require'
NODE_ENV='development'
PORT=3000
DB_SSL='false'
JWT_SECRET='troque-por-um-segredo-forte'
CORS_ORIGIN='http://localhost:5173,https://seu-front.vercel.app'
CLOUD_NAME='dmqzgj7b0'
API_KEY='123266661858442'
API_SECRET='MYlXOO7UEGijjGKAvHkcIQAe4Mg'
