DATABASE_URL='postgresql://user:password@host/dbname?sslmode=require'
BASE_URL_DB='postgresql://user:password@host/dbname?sslmode=require'
PORT=3000
JWT_SECRET='troque-por-um-segredo-forte'
CORS_ORIGIN='http://localhost:5173'
CLOUD_NAME='dmqzgj7b0'
API_KEY='123266661858442'
API_SECRET='MYlXOO7UEGijjGKAvHkcIQAe4Mg'
